body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}
/* Barre de navigation */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  position: sticky;
  top: 0;
}

nav .onglets {
  display: flex;
  flex-wrap: wrap;
}
nav .onglets a {
  font-size: 17px;
  margin-right: 10px;
  cursor: pointer;
}
nav .onglets input {
  margin: 8px 20px;
  padding: 15px;
  border-radius: 30px;
  border: none;
  background-color: #f2f2f2;
  outline: none;
}
a {
  text-decoration: none;
}
/* Fin de la barre de navigation */

/* Header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 50px;
  max-width: 500px;
  text-align: center;
}

/* Pied de page */
footer {
  margin-top: 100px;
  background-color: #1a321a;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .social-media {
  display: flex;
}
footer .social-media p {
  margin-right: 15px;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 5px;
  text-align: center;
  width: 20px;
  cursor: pointer;
}
/* Section principale */

.main {
  margin: 20px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Toutes les cartes */
.cards {
  display: flex;
  flex-wrap: wrap;
}
.cards .card {
  margin-right: 20px;
  cursor: pointer;
}
.cards .card img {
  width: 350px;
}
.cards .card .card-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards .card .card-body p {
  margin-top: -10px;
}
/* Fin de toutes les cartes */
