@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}
/*on applique la marge au dessus 
 une marge intérieur pour notre bordure avec un 
radus pour arrondir le formulaire*/
form {
  margin-top: 20px;
  background-color: #fff;
  padding: 40px 60px;
  border-radius: 10px;
  min-width: 300px;
}
/*On applique une couleur puis on centre le titre*/
form h1 {
  color: #1a321a;
  text-align: center;
}
/*on déclare le formulaire avec la class social-média
on diminue la taille des icons
on ajoute ensuite des style pour centrer la div au centre du formulaire avec une bordure 
de meme dimension*/
form .social-media p {
  padding: 5px;
  width: 20px;
  margin-left: 10px;
  border-radius: 100%;
  border: 1px solid #545454;
  text-align: center;
  cursor: pointer;
  color: #545454;
}
/*centrer le text au milieu du formulaire*/
form p.choose-email {
  text-align: center;
}
/*on impile nos inputs*/
form .inputs {
  display: flex;
  flex-direction: column;
}
/*J'applique au inputs de type email et 
password pour appliquer des styles commun */
form .inputs input[type="email"],
input[type="password"],
input[type="text"],
input[hidden="id"],
input[type="text"],
input[type="text"],
input[type="text"],
input[type="text"],
input[type="text"],
input[type="text"] {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  outline: none;
  margin-bottom: 15px;
}
/*changer la taille de font et mettre une couleur dans le paragraphe*/
form p.inscription {
  font-size: 14px;
  margin-bottom: 20px;
  color: #878787;
}

form p.inscription span {
  color: #1a321a;
}
/*Le button du formulaire*/
form button {
  padding: 15px 25px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  color: #fff;
  background-color: #1a321a;
  outline: none;
  cursor: pointer;
}
